<div class="welcome-message">
   <h1>Discover Your Next Adventure</h1>
   <br />
</div>

<div class="flight-search-container">
   <div class="flight-search-form">
      <form [formGroup]="searchForm" (ngSubmit)="searchFlights()">
         <div class="flight-item">
            <div>
               <label for="origin">Origin:</label>
               <input id="origin" formControlName="origin" type="text" />
               <div *ngIf="searchForm.get('origin')?.hasError('required') && searchForm.get('origin')?.touched">
                  Origin is required.
               </div>
            </div>

            <div class="padding-needed">
               <label for="destination">Destination:</label>
               <input id="destination" formControlName="destination" type="text" />
               <div *ngIf="searchForm.get('destination')?.hasError('required') && searchForm.get('destination')?.touched">
                  Destination is required.
               </div>
            </div>
         </div>
         
         
    
         <!-- <div class="flight-item">
            <label for="travelDate">Travel Date:</label>
            <input id="travelDate" formControlName="travelDate" type="date" />
         </div>
         <div *ngIf="searchForm.get('travelDate')?.hasError('required') && searchForm.get('travelDate')?.touched">
            Travel Date is required.
         </div> -->
    
         <!-- <div class="flight-item">
            <label for="numPassengers">Number of Passengers:</label>
            <input id="numPassengers" formControlName="numPassengers" type="number" />
         </div>
         <div *ngIf="searchForm.get('numPassengers')?.hasError('required') && searchForm.get('numPassengers')?.touched">
            Number of Passengers is required.
         </div> -->
    
         <div class="flight-item">
            <button type="submit" [disabled]="searchForm.invalid">Search Flights</button>
         </div>
      </form>
   </div>

   <div *ngIf="flights.length" class="flight-list">
      <div *ngFor="let flight of flights" class="flight-item">
         <span>Flight:   {{ flight.flightNumber }} - {{ flight.origin }} - {{ flight.destination}}</span>
         <span>Time:     {{ flight.departureTime }} to {{ flight.arrivalTime }}</span>
         <span>Duration: {{ flight.duration }} </span>
         <span>Price:    {{ flight.price | currency }}</span>
         <button (click)="selectFlight(flight)">Book</button>
      </div>
   </div>
</div>
 